<launch>

  <node pkg="rviz" type="rviz" name="rviz"/>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="base_frame" value="base_link"/>
      <param name="odom_frame" value="odom" />
      <param name="delta" value="0.1" />
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find online_slam)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find online_slam)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find online_slam)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find online_slam)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find online_slam)/params/trajectory_planner.yaml" command="load" />
  </node>

  <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

  <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen">
     <param name="frequency" type="double" value="1.0"/>
     <param name="goal_aliasing" type="double" value="0.5"/>
     <rosparam ns="explore_costmap" subst_value="true" file="$(find online_slam)/params/exploration.yaml" command="load" />
  </node>

</launch>
